.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.no__overflow {
  overflow: hidden;
}
.container {
  margin-inline: auto;
  max-width: 1200px;
  width: 90%;
}
section {
  min-height: 100vh;
}
#quiz {
  backdrop-filter: blur(25px);
}
#quiz__menu {
  padding-bottom: 1rem;
  padding-top: 80px;
}
img {
  width: 100%;
}
.correct {
  background-color: #9aeabc;
}
.incorrect {
  background-color: #ff9393;
}
.disabled {
  cursor: not-allowed;
}
.html {
  background-color: #ff9b82;
}
.css {
  background-color: #4169e1;
}
.javascript {
  background-color: #f0db4f;
}
.mysql {
  background-color: #4479a1;
}
.python {
  background-color: #357c5a;
}
.time_left_txt {
  user-select: none;
}
.time_left {
  background: #343a40;
  border: 1px solid #343a40;
  border-radius: 50%;
  color: #fff;
  display: grid;
  height: 35px;
  place-items: center;
  user-select: none;
  width: 35px;
}
.congrats {
  font-weight: 500;
  text-align: center;
}
